body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
  color: #373737;
  background: #F0F0F0;

  overflow: hidden;
}

// Fonts
@font-face {
  font-family: "Mono";
  src: url("asset/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("asset/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("asset/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("asset/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

// Icons
@font-face {
  font-family: 'icomoon';
  src: url('asset/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-double-down:before {
  content: "\e904";
}

.icon-arrow-double-up:before {
  content: "\e905";
}

.icon-arrow-double-left:before {
  content: "\e902";
}

.icon-arrow-double-right:before {
  content: "\e903";
}

.icon-mp3:before {
  content: "\e900";
}

.icon-wav:before {
  content: "\e901";
}

.icon-edit:before {
  content: "\e906";
}

.icon-save-disc:before {
  content: "\e962";
}

.icon-trash:before {
  content: "\e9ac";
}

.icon-save:before {
  content: "\e9c7";
}

.icon-upload:before {
  content: "\e9c8";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-error:before {
  content: "\ea0d";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-play:before {
  content: "\ea1c";
}

.icon-pause:before {
  content: "\ea1d";
}

.icon-stop:before {
  content: "\ea1e";
}

.icon-backward:before {
  content: "\ea1f";
}

.icon-foreward:before {
  content: "\ea20";
}

.icon-first:before {
  content: "\ea21";
}

.icon-last:before {
  content: "\ea22";
}

.icon-reorder:before {
  content: "\ea45";
}

.icon-group:before {
  content: "\ea58";
}

.icon-text:before {
  content: "\ea6d";
}

.icon-format:before {
  content: "\ea6f";
}

.icon-template:before {
  content: "\ea72";
}
